<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="activeprofile" value="online" />

    <add key="cds:online:organizationuri" value="https://mgernhealthutilities.api.crm.dynamics.com/XRMServices/2011/Organization.svc" />
    <add key="cds:online:login" value="michael@msdynaccelerators.onmicrosoft.com" />
    <add key="cds:online:password" value="Kendra#2018" />

    <add key="cds:online:solution" value="Dynamics365ElectronicMedicalRecords" />
  </appSettings>
</configuration>