<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="cdm:solution" value="Dynamics365ElectronicMedicalRecords" />
    <add key="cdm:enumsourceoutputfilename" value="c:\temp\cds\healthcdmenums.cs" />
    <add key="cdm:codeableenumsourceoutputfilename" value="c:\temp\cds\healthcdmcodeableenums.cs" />
    <add key="cdm:picklistvaluesoutputfilename" value="c:\temp\cds\picklistmappingfile.txt" />
    <add key="cdm:concepinstancetvalues" value="c:\temp\cds\codeableconceptvalues.txt" />
  </appSettings>
</configuration>